{% extends 'base.html' %}
{% load static %}
{% block title %}about{% endblock title %}


{% block content %}







<div class="container">
    <div class="row bg-info text-centre p-3 mt-5 text-white border-bottom shadow text-center">
        <h1 class="text-center">Welcome</h1>
       <small class="fs-5">
        The Watch Pages features over 150 brands and thousands and thousands of watches (and it is growing every week). If you are a newbie to our industry, searching for a watch is as simple as finding a vacation home on Airbnb, – you just choose your preferences in our filters and let our search find you the perfect watch. And if you are a bit of an expert, you can have a lot of fun with our advanced filters and search watch functions and complications to your hearts content..</small>

    </div>
</div>
<div class="container">
    <div class="row bg-info text-centre p-3 mt-5 text-white border-bottom shadow text-center">
        <h1 class="text-center">The Watch Search</h1>
       <small class="fs-5">
        A watch is a small clock carried or worn by a person. It makes it easy to see the time. 
        It is also a fashion accessory for men and women, and expensive watches are designed for this purpose.
         A watch may be one of the few accessories worn by a person.</small>

    </div>
</div>
<div class="container">
    <div class="row bg-info text-centre p-3 mt-5 text-white border-bottom shadow text-center">
        <h1 class="text-center">The Founders</h1>
       <small class="fs-5">
        Susanne is from Sweden but has lived in Switzerland for most of her life. She has spent the last 20 years working for luxury watch publications in sales and marketing. She has worked for Europa Star, Revolution, Elite Traveler, Quintessentially and The Rake. She loves wearing men’s timepieces and since she started The Watch Pages has a list as long as your arm of new watches she would love to buy!.</small>

    </div>
</div>

<div class="card-group mt-5 ms-3 me-3">
    <div class="card">
      <img class="card-img-top" src="{% static '/images/banner/xx (2).png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sunny Leone</h5>
        <p class="card-text">Sunny Leone is an Indian actress who is known for her work in GOLDEN STORE .</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <img class="card-img-top" src="{% static '/images/banner/kl (3).png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">H . R</h5>
        <p class="card-text">Disha Patani is an Indian actress who is known for her work in GOLDEN STORE .</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <img class="card-img-top" src="{% static '/images/banner/lii.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Disha Patani</h5>
        <p class="card-text">Disha Patani is an Indian actress who is known for her work in GOLDEN STORE CEO .</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
{% endblock content %}