{% extends 'base.html' %}
{% load static %}
{% block title %}hange Password{% endblock title %}


{% block content %}
        <div class="container text-center bold my-2 h-100 w-100 ">
            <div class="row  ms-3">
                <h3 >Welcome <span class="text-capitalize">{{request.user.username|capfirst}}</span></h3>
            </div>
            <!-- <div class="col-sm-2 border-end  ">
                <ul class="list-unstyled">
                    <li class="d-grid "><a href="{% url 'profile' %}" class="btn btn-danger">Change Password</a></li>
                   
                </ul>
            </div> -->
            <div class="col-sm-5 offset-sm-4 mt-5 text-success">
              <h3>Password Change Successfully !!!</h3>
            </div>
            
     </div>
    
{% endblock content %}