{% extends 'base.html' %}
{% load static %}
{% block title %}hange Password{% endblock title %}


{% block content %}
        <div class="container text-center bold my-2 h-100 w-100 ">
            <div class="row  ms-3">
                <h3 >Welcome <span class="text-capitalize">{{request.user.username|capfirst}}</span></h3>
            </div>
            <!-- <div class="col-sm-2 border-end  ">
                <ul class="list-unstyled">
                    <li class="d-grid "><a href="{% url 'profile' %}" class="btn btn-danger">Change Password </a></li>
                   
                </ul>
            </div> -->
            <div class="col-sm-5 offset-sm-4 mt-3">
                <form action="" method="post" novalidate class="shadow">
                    {% csrf_token %}
                    {% for fm in form %}
                {{fm.label_tag}} {{fm}} <small class="text-danger ">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <div class="col-12 mt-3 mt-1 ">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}

            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-danger {{msg.tags}}" role="alert">{{msg}}</div>
                {% endfor %}
                {% endif %}
                <br><br><br><br>

                </form>
            </div>
            
     </div>
    
{% endblock content %}