{% extends 'base.html' %}
{% load static %}
{% block title %}about{% endblock title %}


{% block content %}







<div class="container">
    <div class="row bg-info text-centre p-3 mt-5 text-white border-bottom shadow text-center">
        <h1 class="text-center">Welcome</h1>
       <small class="fs-5">
        A watch is a small clock carried or worn by a person. It makes it easy to see the time. 
        It is also a fashion accessory for men and women, and expensive watches are designed for this purpose.
         A watch may be one of the few accessories worn by a person.</small>

    </div>
</div>
<div class="container">
    <div class="row bg-info text-centre p-3 mt-5 text-white border-bottom shadow text-center">
        <h1 class="text-center">Welcome</h1>
       <small class="fs-5">
        A watch is a small clock carried or worn by a person. It makes it easy to see the time. 
        It is also a fashion accessory for men and women, and expensive watches are designed for this purpose.
         A watch may be one of the few accessories worn by a person.</small>

    </div>
</div>


<div class="card-group mt-5 ms-3 me-3">
    <div class="card">
      <img class="card-img-top" src="{% static '/images/banner/xx (2).png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <img class="card-img-top" src="{% static '/images/banner/kl (3).png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br><br><br>
    <div class="card">
      <img class="card-img-top" src="{% static '/images/banner/lii.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
{% endblock content %}